<%= render :partial => 'layouts/topnav'%>

<h1>Showing all Workouts</h1>
 
<table>
  <tr>
    <th>Body Part</th>
    <th>Date</th>
  </tr>
 
  <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.body %></td>
      <td><%= workout.date %></td>
      <td><%= link_to 'Show', workout_path(workout) %></td>
      <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
      <td><%= link_to 'Destroy', workout_path(workout),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>