<%= render :partial => 'layouts/topnav'%>
<center>
<div class="container">
<h2>Submit a Recipe!</h2>

<%= form_for :recipe, url: recipes_path do |f| %>
<!--Error Checking-->
<div>
<% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul style="list-style-type:none">
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>



<form>
<div class="jumbotron"> 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
 <p>Please select a category:</p>
  <table>

  	<td>
   	<%= f.radio_button :category, 'breakfast' %>
  	<%= label :category_breakfast, 'Breakfast' %>
  	</td>
  	<td>
  	<%= f.radio_button :category, 'lunch' %>
  	<%= label :category_lunch, 'Lunch' %>
  	</td>
  	<td>
  	<%= f.radio_button :category, 'dinner' %>
  	<%= label :category_dinner, 'Dinner' %>
  	</td>
  	<td>
  	<%= f.radio_button :category, 'snack' %>
  	<%= label :category_snack, 'Snack' %>
  	</td>
  </table>

  <p>
    <%= f.label :preptime %><br>
    <%= f.text_field :preptime %>
  </p>

  <p>
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </p>

  <p>
    <%= f.label :directions %><br>
    <%= f.text_area :directions %>
  </p>

  <p>Optional:</p>
  <p>
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </p>

  <p>
    <%= f.label :fats %><br>
    <%= f.text_field :fats %>
  </p>

  <p>
    <%= f.label :carbs %><br>
    <%= f.text_field :carbs %>
  </p>

  <p>
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
</form>
</div>
</center>