<h1>New Recipes</h1>

<%= form_for :recipe, url: recipes_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :preptime %><br>
    <%= f.text_field :preptime %>
  </p>

  <p>
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </p>

  <p>
    <%= f.label :directions %><br>
    <%= f.text_area :directions %>
  </p>

  <p>
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </p>

  <p>
    <%= f.label :fats %><br>
    <%= f.text_field :fats %>
  </p>

  <p>
    <%= f.label :carbs %><br>
    <%= f.text_field :carbs %>
  </p>

  <p>
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>