<%= render :partial => 'layouts/topnav'%>

<div class="container">
<h2>Submit a Recipe!</h2>

<%= form_for :recipe, url: recipes_path do |f| %>
<!--Error Checking-->
<div>
<% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h3>
      <ul >
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>



<form>
<div class="jumbotron"> 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title , class: 'form-control', placeholder: "Enter Title"%>
  </p>
 
 <p>Please select a category:</p>
  <table class ="table table-striped">

  	<td>
   	<%= f.radio_button :category, 'breakfast' %>
  	<%= label :category_breakfast, 'Breakfast' %>
  	</td>
  	<td>
  	<%= f.radio_button :category, 'lunch' %>
  	<%= label :category_lunch, 'Lunch' %>
  	</td>
  	<td>
  	<%= f.radio_button :category, 'dinner' %>
  	<%= label :category_dinner, 'Dinner' %>
  	</td>
  	<td>
  	<%= f.radio_button :category, 'snack' %>
  	<%= label :category_snack, 'Snack' %>
  	</td>
  </table>

  <p>
    <%= f.label :preptime %><br>
    <%= f.text_field :preptime, class: 'form-control', placeholder: "Enter Preptime" %>  </p>

  <p>
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, class: 'form-control', placeholder: "Enter Ingredients List" %>
  </p>

  <p>
    <%= f.label :directions %><br>
   	<%= f.text_area :directions, class: 'form-control', placeholder: "Enter Directions" %>
  </p>

  <p>Optional:</p>
  <p>
    <%= f.label :calories %><br>
    <%= f.text_field :calories, class: 'form-control', placeholder: "Calories" %>
  </p>

  <p>
    <%= f.label :fats %><br>
    <%= f.text_field :fats, class: 'form-control', placeholder: "Enter Fats" %>
  </p>

  <p>
    <%= f.label :carbs %><br>
   	<%= f.text_field :carbs , class: 'form-control', placeholder: "Enter Carbs"%>
  </p>

  <p>
    <%= f.label :protein %><br>
    <%= f.text_field :protein , class: 'form-control', placeholder: "Enter Protein"%>  </p>

  <p>
    <%= f.submit "Submit Recipe", class: "btn btn-default"%>
  </p>
<% end %>
</div>
</form>
</div>
